  button {
  height:150px;
  width:640px;
  transition: 0.3s;
  cursor:pointer;
  color:blue;
  font-size:30px;
  
}

  button:hover {
  background-color: orange
  transform: scale(1.05);
  color:blue
}
